/* -------------------------------------------------------------------------- */

/*	TOKENS
/* -------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------- */
/*	Layout
/* -------------------------------------------------------------------------- */
$maxViewportSize: 1200px;
$minViewportSize: 360px;

/* -------------------------------------------------------------------------- */
/*	Colors
/* -------------------------------------------------------------------------- */
$orange: #CC4B00; // (Links)
$yellow: #FFC700; // (Navigation highlight)
$lightBlue: #006EF5; // (Branding)
$blue: #004EAE; // (Search and Small screen navigation)
$darkBlue: #013371; // (hover/focus in navigation)
$gray: #767676; // (Meta info and placeholder text)
$darkGray: #333333; // (Content and in-form search icon)
$white: #FFFFFF; // (Header links / icons and search input)

/* -------------------------------------------------------------------------- */
/*	Typography
/* -------------------------------------------------------------------------- */
$fontSizeSmall: 1.4rem; // (Content)
$fontSizeMedium: 1.6rem; // (Forms)
$fontSizeLarge: 1.8rem; // (Navigation)
$fontSizeXLarge: 3.6rem; // (Headings)
$fontFamilyRaleway: 'Raleway', sans-serif;

/* -------------------------------------------------------------------------- */
/*	Spacing
/* -------------------------------------------------------------------------- */
$spacingSmall: .5rem;
$spacingMedium: 1rem;
$spacingLarge: 1.5rem;
$spacingXLarge: 2rem;