/* -------------------------------------------------------------------------- */

/*	FOOTER
/* -------------------------------------------------------------------------- */
.footer {
    background: $blue;
    padding: $spacingLarge;
}

.copyright {
    color: $white;
}